<?php

return [
    'di' => [
        'instance' => [
            'alias' => [
                'DefaultDbDump' => 'WebinoDbDump\Db\Dump\Dump',
            ],
            'DefaultDbDump' => [
                'parameters' => [
                    // TODO uncomment
                    // TODO issue https://github.com/zendframework/zf2/issues/5795
                    // 'adapter' => 'DefaultDb',
                    'adapter' => 'Zend\Db\Adapter\Adapter',
                ],
            ],
        ],
    ],
];
