<?php

use WebinoDbDump\Db\Dump\Dump;

return [
    'di' => [
        'instance' => [
            'alias' => [
                'DefaultDbDump' => Dump::class,
            ],
            'DefaultDbDump' => [
                'parameters' => [
                    'adapter' => 'DefaultDbAdapter',
                ],
            ],
        ],
    ],
];
